name: template_app
description: This is a template app created to start new Flutter projects quickly.
version: 1.0.0+1
publish_to: none

environment:
  sdk: ^3.10.7
  flutter: ^3.38.6

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  bcrypt: ^1.2.0
  bloc: ^9.2.0
  cupertino_icons: ^1.0.8
  drift: ^2.30.1
  equatable: ^2.0.8
  flutter_bloc: ^9.1.1
  get_it: ^9.2.0
  go_router: ^17.0.1
  http: ^1.6.0
  path: ^1.9.1
  path_provider: ^2.1.5
  shared_preferences: ^2.5.4
  sqlite3_flutter_libs: ^0.5.41
  sqlite3: ^2.9.4
  
  
dev_dependencies:
  bloc_test: ^10.0.0
  build_runner: ^2.10.5
  drift_dev: ^2.30.1
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  mocktail: ^1.0.4

flutter:
  generate: true
  uses-material-design: true

# To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700